.button {
  width: fit-content;
  background: linear-gradient(72.28deg, #592ee1 22.43%, #b836d9 101.51%);
  border-radius: 600px;
  padding: 15px 24px;
  box-shadow: 0px -1px 0px 0px white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  min-width: 150px;
}

@media screen and (max-width: 976px) {
  .button {
    padding: 10px 15px;
    min-width: auto;
  }
}
